:root{
    --headingText:blue;
    --bodyText:purple;

    --primaryColor: rgb(255, 212, 212);
    --secondaryColor: white;

    --edgeColor: black;
}

html, body{
    padding: 0;
    margin: 0;
}

h1{ font-size: 56; }
h2{ font-size: 36; }
h3{ font-size: 28; }
h4{ font-size: 24; }
h5{ font-size: 20; }
h6{ font-size: 16; }

h1, h2, h3{
    color: var(--headingText);
    font-family: 'Prosto One', cursive;
}

p, li, span, label, input, a{
    color: var(--bodyText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color: chartreuse;
}

ul{
    list-style: none;
}

.main-container{
    width:1200px;
    margin: 0 auto;
}

.sectionA{
    background-color: var(--primaryColor);
    border-bottom: 1px solid var(--edgeColor);
    overflow: auto;
}

.sectionB{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--edgeColor);
    overflow: auto;
}

.welcome-message-container{
    display: grid;
    text-align: center;
    align-content: center;
    border: 2px dashed red;
    min-height: 10em ;
}

.introduction-wrapper{
    background-color: white;
    box-shadow: 7px 6px 9px 0px rgba(0, 0, 0, 1);
    border-radius: 4px 4px 4px 4px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 3em 30em;              
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-wrapper right-wrapper'
    ;
}

.navigation-wrapper{
    grid-area: nav-wrapper;
}

.left-wrapper{
    grid-area: left-wrapper;
}

.right-wrapper{
    grid-area: right-wrapper;
}

@media screen and (max-width: 1200px){
    .main-container{
        width:95%;
    }
}